* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Neue Montreal';
}

body {
  background-image: url("./imagens/background.png");
  background-size: 1900px;
  overflow-x: hidden;
  background-repeat: repeat-y;
}

.homepage {
  background-repeat: no-repeat;
}


.ret_homepage {
  position: relative;
}

.ret_homepage h1 {
  z-index: 10;
  position: relative;
  bottom: 1750px;
  left: 50px;
  font-size: 100px;
}

.artistas_semanais {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 150px;
  display: flex;
  flex-direction: row;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, auto);
  grid-gap: 200px;
}



.artista_semanal1 p {
  position: absolute;
  width: 516px;
  height: 162px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #24191F;
  padding-top: 30px;
}

.nome_artista_semanal {
  position: relative;
  top: 100px;
  left: 100px;
}

.nome_artista_semanal img {
  position: relative;
  top: 130px;
  left: 30px;
}

.nome_artista_semanal p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
  bottom: -30px;
  left: 60px;
}

.n_edicao {
  position: relative;
  bottom: 1680px;
  right: 100px;
}

.ret_opinioes img {
  position: relative;
}


.desc_opinioes {
  position: relative;
  width: 900px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  text-align: right;
  color: #24191F;
  top: -700px;
  left: 400px;
}

.ret_opinioes a {
  position: relative;
  text-decoration: none;
  width: 425px;
  height: 107px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  top: -685px;
  left: 1150px;
}

.nome_opiniao img {
  top: -700px;
  left: 980px;
}

.nome_opiniao p {
  position: relative;
  width: 411px;
  height: 31px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  color: #FFFFFF;
  top: -760px;
  left: 1000px;
}


.but_enterro {
  text-decoration: none;
}

.but_enterro img {
  position: relative;
  top: -550px;
}

.but_enterro p {
  position: relative;
  width: 411px;
  height: 31px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  color: #FFFFFF;
  top: -610px;
  left: 20px;
}

.but_opinioes {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 550px;
}

.ret_opinioes {
  position: relative;
  top: -500px;
}

.header {
  margin-bottom: 400px;
}

.edicao12 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -350px;

}

.edicao11 {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 630px;
  left: 230px;
}

.edicao10 {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1270px;
}

.edicao9 {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1920px;
  left: 230px;
}

.edicao8 {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 2570px;
}

.edicao7 {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 3220px;
  left: 230px;
}

.container {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.column2 {
  right: 200px;
  position: relative;
}

.column3 {
  position: relative;
  right: 400px;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 670px;
  justify-content: flex-end;
  right: 150px;
}

.row p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  width: 500px;
  text-align: left;
  color: #24191F;
}

.row img {
  position: relative;
  left: 100px;
}

.row1 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 770px;
  right: 150px;
}

.row1 p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  text-align: right;
  color: #24191F;
  width: 500px;
  left: 100px;
}

.row2 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 670px;
  justify-content: flex-end;
}

.row2 p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  width: 500px;
  text-align: left;
  color: #24191F;
}

.row2 img {
  position: relative;
  left: 100px;
}


.row3 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 770px;
  left: 200px;
}

.row3 p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  text-align: right;
  color: #24191F;
  width: 500px;
  left: 100px;
}

.row4 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 670px;
  justify-content: flex-end;
  left: 230px;
}

.row4 p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  width: 500px;
  text-align: left;
  color: #24191F;
}

.row4 img {
  position: relative;
  left: 60px;
}




.n_edicao_art {
  position: relative;
  float: left;
  top: -950px;
}

.n_edicao_art2 {
  position: relative;
  float: right;
  top: -940px;
  right: 100px;
}

.n_edicao_art3 {
  position: relative;
  float: right;
  top: -940px;
  right: 200px;
}

.nome_artista1 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: left;
  right: 200px;
}

.nome_artista1 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}

.nome_artista2 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: right;
}

.nome_artista2 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}

.nome_artista3 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: left;
  left: 970px;
}

.nome_artista3 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}

.nome_artista4 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: left;
  left: 150px;
}

.nome_artista4 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}

.nome_artista5 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: right;
  right: -180px;
}

.nome_artista5 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}

@media screen and (max-width: 960px) {

  body {
    max-width: 960px;
  }

  .imgLogo {
    width: 400px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .artistas_semanais {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -80px;
    top: -10px;
    grid-gap: 0px;
  }

  .artista_semanal1 p {
    font-size: 28px;
    width: 350px;
    align-items: center;
    margin-left: 20px;

  }

  .artista_semanal1 img {
    height: 440px;
    width: 320px;
  }

  .nome_artista_semanal img {
    position: relative;
    top: 130px;
    left: 30px;
    height: 50px;
    width: 250px;
  }

  .n_edicao {
    bottom: 1670px;
    height: 400px;
    width: 400px;
  }

  .logo_inv {
    visibility: hidden;
  }

  .tit_opinioes {
    position: relative;
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -400px;
  }

  .ret_opinioes {
    position: relative;
    top: -500px;
  }

  .nome_opiniao {
    position: relative;
    left: -900px;
    top: -1050px;
  }

  .desc_opinioes {
    width: 340px;
    left: 30px;
    top: -1700px;
    text-align: left;
  }

  .ret_lar_opinioes {
    left: -10px;
    width: 450px;
    height: 1900px;
  }

  .ret_opinioes a {
    top: -1680px;
    left: 200px;
  }

  .but_opinioes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 45px;
  }

  .ret_opinioes {
    top: -600px;
  }

  .edicao12 {
    flex-direction: row;
    margin-top: -780px;
  }

  .edicao11 {
    flex-direction: row;
    left: 5px;
  }

  .edicao10 {
    flex-direction: row;
    left: 5px;
  }

  .edicao9 {
    flex-direction: row;
    left: 5px;
  }

  .edicao8 {
    flex-direction: row;
    left: 5px;
  }

  .edicao7 {
    flex-direction: row;
    left: 5px;
  }

  .n_edicao_art {
    height: 200px;
    width: 200px;
    top: -920px;
  }

  .n_edicao_art2 {
    height: 200px;
    width: 200px;
    top: -920px;
    right: 775px;
  }

  .n_edicao_art3 {
    height: 200px;
    width: 200px;
    top: -920px;
    right: 780px;
  }

  .nome_artista1 {
    left: -170px;
    top: -705px;
  }

  .nome_artista1 img {
    width: 150px;
    height: 40px;
  }

  .nome_artista1 p {
    top: -40px;
    left: 10px;
  }

  .nome_artista2 {
    left: -415px;
    top: -705px;
  }

  .nome_artista2 img {
    width: 150px;
    height: 40px;
  }

  .nome_artista2 p {
    top: -40px;
    left: 10px;
  }

  .nome_artista3 {
    left: 433px;
    top: -705px;
  }

  .nome_artista3 img {
    width: 150px;
    height: 40px;
  }

  .nome_artista3 p {
    top: -40px;
    left: 10px;
  }

  .nome_artista4 {
    left: 25px;
    top: -685px;
  }

  .nome_artista4 img {
    width: 150px;
    height: 40px;
  }

  .nome_artista4 p {
    top: -40px;
    left: 10px;
  }

  .nome_artista5 {
    left: -415px;
    top: -705px;
  }

  .nome_artista5 img {
    width: 150px;
    height: 40px;
  }

  .nome_artista5 p {
    top: -40px;
    left: 10px;
  }

  .row {
    justify-content: normal;
    left: 100px;
    top: -740px;
  }

  .row img {
    height: 150px;
    width: 130px;
    left: 0px;
    top: 45px;
  }

  .row p {
    font-size: 20px;
    width: 200px;
  }
  
  .row1 img {
    height: 150px;
    width: 130px;
  }

  .row1 p {
    font-size: 20px;
    width: 200px;
    left: -10px;
    top: -30px;
  }

  .row2 {
    justify-content: normal;
    left: 450px;
    top: -740px;
  }

  .row2 img {
    height: 150px;
    width: 130px;
    left: 0px;
    top: 45px;
  }

  .row2 p {
    font-size: 20px;
    width: 200px;
  }

  .row3 {
    left: 35px;
    bottom: 800px;
  }

  .row3 img {
    position: relative;
    height: 150px;
    width: 130px;
    top: 50px;
  }

  .row3 p {
    font-size: 20px;
    width: 200px;
    left: 10px;
  }

  .row4 {
    justify-content: normal;
    left: 450px;
    top: -740px;
  }

  .row4 img {
    height: 150px;
    width: 130px;
    left: 0px;
    top: 45px;
  }

  .row4 p {
    font-size: 20px;
    width: 200px;
  }
  }