* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Neue Montreal';

}

body {
  background-image: url("./imagens/background.png");
  background-size: 1900px;
  overflow-x: hidden;
  background-repeat: repeat-y;
}

.homepage {
  background-repeat: no-repeat;
}


.ret_homepage {
  position: relative;
}

.ret_homepage h1 {
  z-index: 10;
  position: relative;
  bottom: 1750px;
  left: 50px;
  font-size: 100px;
}

.artistas_semanais {
  position: relative;
  bottom: 2250px;
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 10;
}

.artista_semanal1 p {
  position: absolute;
  width: 516px;
  height: 162px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #24191F;
  padding-top: 30px;
}

.artista_semanal2 {
  margin-left: 230px;
}

.artista_semanal2 p {
  position: absolute;
  width: 516px;
  height: 162px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  padding-top: 30px;
  color: #24191F;
}

.nome_artista_semanal {
  position: relative;
  top: 100px;
  left: 100px;
}

.nome_artista_semanal img {
  position: relative;
  top: 130px;
  left: 30px;
}

.nome_artista_semanal p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
  bottom: -30px;
  left: 60px;
}

.n_edicao {
  position: relative;
  bottom: 1900px;
  right: 100px;
}

.ret_opinioes img {
  position: relative;
}


.desc_opinioes {
  position: relative;
  width: 900px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  text-align: right;
  color: #24191F;
  top: -700px;
  left: 400px;
}

.ret_opinioes a {
  position: relative;
  text-decoration: none;
  width: 425px;
  height: 107px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  top: -685px;
  left: 1150px;
}

.nome_opiniao img {
  top: -700px;
  left: 980px;
}

.nome_opiniao p {
  position: relative;
  width: 411px;
  height: 31px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  color: #FFFFFF;
  top: -760px;
  left: 1000px;
}


.but_enterro {
  text-decoration: none;
}

.but_enterro img {
  position: relative;
  top: -550px;
}

.but_enterro p {
  position: relative;
  width: 411px;
  height: 31px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  color: #FFFFFF;
  top: -610px;
  left: 20px;
}


.but_opinioes {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 550px;
}

.ret_opinioes {
  position: relative;
  top: -500px;
}

.header {
  margin-bottom: 400px;
}

.edicao12 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -350px;
  right: 650px;
}


.edicao11 {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 420px;
  bottom: 630px;
}

.edicao10 {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 1270px;
}

.container {
  display: flex;
  flex-direction: column;
}



.column {
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 770px;
  right: 150px;
}

.row1 p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  text-align: right;
  color: #24191F;
  width: 500px;
  left: 100px;
}

.row2 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 670px;
  left: 150px;
}

.row2 p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  width: 500px;
  text-align: left;
  color: #24191F;
  
}

.row2 img {
  position: relative;
  left: 100px;
}

.row3 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 770px;
  left: 200px;
}

.row3 p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  text-align: right;
  color: #24191F;
  width: 500px;
  left: 100px;
}


.n_edicao_art {
  position: relative;
  float: left;
  top: -950px;
}

.n_edicao_art2 {
  position: relative;
  float: right;
  top: -950px;
  left: 100px;
}

.nome_artista1 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: left;
  right: 200px;
}

.nome_artista1 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}

.nome_artista2 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: right;
  right: 200px;
}

.nome_artista2 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}

.nome_artista3 {
  position: relative;
  top: -700px;
  z-index: 30;
  float: left;
  left: 150px;
}

.nome_artista3 p {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  top: -50px;
  left: 20px;
}


@media screen and (max-width: 960px) {

  body {
    max-width: 960px;
  }


  .imgLogo {
    width: 400px;
    height: 400px;
  }

  .artistas_semanais {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: -40px;
    align-items: center;
  }

  .artista_semanal1 {
    margin-bottom: 50px;
  }

  .artista_semanal1 p {
    font-size: 32px;
    width: 350px;
    align-items: center;
    margin-left: 20px;

  }

  .artista_semanal1 img {
    height: 480px;
    width: 360px;

  }

  .artista_semanal2 {
    margin-left: 0;
  }

  .artista_semanal2 p {
    font-size: 32px;
    width: 350px;
    align-items: center;
    margin-left: 20px;
  }

  .artista_semanal2 img {
    height: 480px;
    width: 360px;
  }

  .nome_artista_semanal img {
    position: relative;
    top: 130px;
    left: 30px;
    height: 50px;
    width: 250px;
  }

  .n_edicao {
    bottom: 1950px;
  }


  .logo_inv {
    visibility: hidden;
  }

  .tit_opinioes {
    width: 400px;
    height: 400px;
    position: relative;
    top: -450px;
  }

  .ret_opinioes {
    position: relative;
    top: -500px;
  }

  .nome_opiniao {
    position: relative;
    left: -900px;
    top: -1050px;
  }

  .desc_opinioes {
    width: 340px;
    left: 30px;
    top: -1700px;
    text-align: left;
  }

  .ret_lar_opinioes {
    left: -10px;
    width: 450px;
    height: 1900px;
  }

  .ret_opinioes a {
    top: -1680px;
    left: 200px;
  }


  .but_opinioes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
  }

  .ret_opinioes {
    top: -600px;
  }

}